*{
    box-sizing: border-box;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Righteous', cursive;  */ 
body{
    background-color: #e5e5e5;
}

header{
    background-color: #CF2B2B;
    height: 92px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     position: fixed;
    top: 0;
    width: 100vw;
}
.topo{
    margin: 18px;

}

.topo h1{
    
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
}

.topo p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 5px;
}
.alimento p{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    margin: 20px;
    color: #333333;
    
}
nav{
    display: flex;
    overflow-x:scroll;
    margin-left: 15px;
}
.alimento{
    margin-top: 92px;
}
.alimento_opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    margin-left: 18px;
    margin-top: 17px;
    font-family:'Roboto', sans-serif;
    border: solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.alimento_opcao img{
    Width: 144px;
    Height: 87px;
}
.alimento_opcao h3{
   
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin: 5px 15px;
}
.alimento_opcao h4{
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin: 5px 15px ;
    
}
.alimento_opcao h5{
   
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 5px 15px;
}


